<h1 id="tableLabel">Total problems</h1>

<p>Display all user problems. This page for admin role.</p>

<p *ngIf="!problems"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="problems">
  <thead>
    <tr>
      <th>Id</th>
      <th>Problem Name</th>
      <th>Description</th>
      <th>Step to solve</th>
      <th>Status</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let problem of problems">
      <td>{{ problem.id }}</td>
      <td>{{ problem.problemName }}</td>
      <td>{{ problem.description }}</td>
      <td>{{ problem.suceesInvestigateName }}</td>
      <td>{{ GetStatusName(problem.solveStatus) }}</td>
      <td>{{ problem?.user?.userName }}</td>
    </tr>
  </tbody>
</table>
