<h1 id="tableLabel">Total machines</h1>

<p>Display all user machines. This page for user role.</p>

<p *ngIf="!machines"><em>Loading...</em></p>
<!--<mat-form-field appearance="fill">
  <mat-label>Favorite Food</mat-label>
  <mat-select [(value)]="selectedFood">
    <mat-option></mat-option>
    <mat-option [value]="option.value" *ngFor="let option of problems">{{ option.viewValue }}</mat-option>
  </mat-select>
</mat-form-field>
<p>You selected: {{selectedFood}}</p>-->



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="machines">
  <thead>
    <tr>
      <th>Id</th>
      <th>Machine Name</th>
      <th>Description</th>
      <th>Step to investigate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let machine of machines">
      <td>{{ machine.id }}</td>
      <td>{{ machine.machineName }}</td>
      <td>{{ machine.machineDescription }}</td>
      <td><input type="button" (click)="addProblemDialog(machine)" value="Add Problem" /></td>
    </tr>
  </tbody>
</table>
<p *ngIf="alreadySave" style="color:green">Save successfully.</p>
<br/>
<p>Display all problems which created from this user.</p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="problems">
    <thead>
        <tr>
            <th>Id</th>
            <th>Machine</th>
            <th>Problem Title</th>
            <th>Status</th>
            <th>Step to investigate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let problem of problems">
            <td>{{ problem.id }}</td>
            <td>{{ problem.machine.machineName }}</td>
            <td>{{ problem.problemName }}</td>
            <td>{{ GetStatusName(problem.solveStatus) }}</td>
            <td><input type="button" (click)="openDialog(problem)" value="Investigation" /></td>
        </tr>
    </tbody>
</table>


