<h1 id="tableLabel">Total steps of {{machineName}}</h1>

<p>Display all step of this machine. This page for user role.</p>

<p *ngIf="!investigateSteps"><em>Loading...</em></p>



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="investigateSteps">
  <thead>
    <tr>
      <th>Id</th>
      <th>step Name</th>
      <th>Description</th>
      <th>Solve from this step</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let investigateStep of investigateSteps">
      <td>{{ investigateStep.id }}</td>
      <td>{{ investigateStep.stepName }}</td>
      <td>{{ investigateStep.stepDetail }}</td>
      <td><input type="radio" name="stepChoose" (change)="checkValue($event,investigateStep)" /></td>
    </tr>
  </tbody>
</table>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
</div>

